@import "~styles/common";

.Button {
	&:hover {
		opacity: 0.8;
	}
	border-style: none;
	cursor: pointer;
	&.small {
		padding: 8px;
	}

	&.medium {
		padding: 12px;
	}

	&.large {
		padding: 16px;
	}

	&.square,
	&.square:active {
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	}

	&.fullWidth {
		width: 100%;
	}

	&.primary {
		background-color: $primary-color;
	}

	&.secondary {
		background-color: $secondary-color;
	}

	&.symbol {
		background-color: $symbol-color;
	}
}
