$symbol-color: #0097a7;

$primary-color: white;
$secondary-color: $symbol-color;

$primary-text-color: black;
$secondary-text-color: white;
$symbol-text-color: $secondary-text-color;

$weight-light: 300;
$weight-regular: 500;
$weight-medium: 700;
